In [9]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High Scool", "Wright High School"]
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High Scool
Wright High School

In [10]:
# A List of dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type": "District"},
                     {"High School": "Figueroa", "Type": "District"}, 
                     {"High School": "Wilson", "Type": "Charter"}, 
                     {"High School": "Wright", "Type": "Charter"}]
for reading_place in high_school_types:
    print(reading_place)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [11]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High Scool", "Wright High School"]

In [12]:
# Add the Pandas dependency.
import pandas as pd

In [13]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0    Hernandez High School
1     Figueroa High School
2        Wilson High Scool
3       Wright High School
dtype: object

In [14]:
# A List of dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High School", "type": "District"},
                     {"School ID": 1, "school_name": "Figueroa High School", "type": "District"}, 
                     {"School ID": 2, "school_name": "Shelton High School", "type": "Charter"}, 
                     {"School ID": 3, "school_name": "Hernandez High School", "type": "District"},
                     {"School ID" : 4, "school_name":"Griffin High School", "type": "Charter"}]

In [15]:
# Covert high_school_dicts to a data frame
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [16]:
# Three seperate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High Scool", "Griffin High School"]

type_of_school = ["District", "District", "Charter", "District", "Charter"]

In [17]:
#Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [21]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id 

#print the DataFrame.
schools_df

   School ID
0          0
1          1
2          2
3          3
4          4

In [26]:
# Create a dictionary of information on high schools.
high_schools_dict = {"School ID": school_id, "school_name": school_name, "type_of_school": type}
school_df = pd.DataFrame(high_school_dicts)

#print the DataFrame.
school_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [28]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [29]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [30]:
school_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)